<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>moods</title>
</head>


<body class="container">
    <div class="navbar-fixed">
        <nav class="navbar navbar-light" style="background-color: lightgrey;">
            <form class="form-inline right">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <ul>
                        <li style="color: white">
                            <% if (user) { %>
                            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                            <% } else { %>
                            <a href="/auth/google"> <i class="material-icons left">vpn_key</i>Login with Google</a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </form>
        </nav>
    </div>
    <div><%= user.name %></div>
    <div><%= mood.posts[0].text %></div>
    <br>
    <div class="comments">
        <form action="/moods/<%= mood._id %>/comments" method="POST">
            <label>Comments
                <input type="text" name="comments" id="">
                <input type="submit">
            </label>
        </form>

        <ul>
            <% if(mood.comments.length) { %>
            <%- mood.comments.map(c =>
          `<li>${c.name} ${c.comment}</li>`
          ).join('')%>
        </ul>
    </div>

    <% } else { %>
    <h3> No Comments Yet</h3>
    <% } %>