<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>moods</title>
</head>


<body class="container loginpage">
    <div class="landing">
        <div class="login" style="background-color: rgb(99, 133, 185);">
            <ul>

                <li text-style="none" style="color: white">
                    <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                    <a href="/auth/google"> <i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
                </li>
            </ul>
            </form>
        </div>
    </div>


</body>

</html>