<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>moods</title>
</head>


<body class="container">
    <div class="navbar-fixed">
        <nav class="navbar navbar-light" style="background-color: lightgrey;">
            <form class="form-inline right">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <ul>
                        <li style="color: white">
                            <% if (user) { %>
                            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                            <% } else { %>
                            <a href="/auth/google"> <i class="material-icons left">vpn_key</i>Login with Google</a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </form>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div id="moods" class="col s12">

                <div class="card blue-grey">
                    <div class="card-content white-text">
                        <a href="/moods">Dashboard</a>
                        <div>
                            <span class="card-title">
                              
                                <i class="material-icons">perm_identity</i>
                                <span class="mood-name"><%= user.name %></span>
                            </span>
                        </div>


                        <div class="card-action">
                            <form action="/moods" method="POST">
                                <label>Topic
                                    <input type="text" name="title">
                                </label>
                                <br>
                                <textarea type="text" name="post" class="white-text" rows="3" cols="80"
                                    placeholder="How do you feel"></textarea>
                                <button type="submit" class="btn btn-info">share mood</button>
                            </form>
                            <!-- <h4>Upload Picture</h4>
                            <form action="/" method="POST" enctype="multipart/form-data">
                                <input type="file" name="inputFile">
                                <input type="submit" value="Upload file" class="btn btn-info">
                            </form> -->
                            <!-- <
                                % if(recentUpload) { %>
                                <h2>Most Recent Upload:</h2>
                                <img src="<
                                    %= recentUpload %>" alt="Recent Upload">
                              <
                                  % } %> -->
                        </div>