<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>moods</title>
</head>


<body class="container newbg">
    <nav class="navbar navbar-light" style="background-color: rgb(99, 133, 185);">
        <h1>moods</h1>
        <ul>
            <div class="user-log">
                <h5>Signed in as <%= user.name %></h5>
                <li style="color: white text-style='none'">
                    <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                    <a href="/auth/google"> <i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
            </div>
            </li>

        </ul>
        </div>
        </form>
    </nav>

    <br>
    <h4><a class="dashboardbtn" style="color: rgb(255, 255, 255);" href="/moods">Dashboard</a></h4>
    <div class="container">
        <div id="moods" class="col s12 contenteditable">
            <div class="new-heading">
                <img src="<%= user.avatarURL %>" alt="user profile" width="45px" height="45px">
                <div class="mood-name"><b><%= user.name %></b></div>
            </div>
            <br>
            <div class="form-group">
                <form action="/moods" method="POST">
                    <label>
                        Topic
                        <input class="border border-info" type="text" name="title">
                    </label>
                    <br>
                    <br>
                    <textarea class="border border-info" type="text" name="post" class="white-text" rows="3" cols="55"
                        placeholder="How do you feel?" required></textarea>
                    <div class="new-button">
                        <button type="submit" class="btn btn-info">share mood</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </span>
</body>

</html>